<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.0" targetFramework="MonoAndroid44" />
  <package id="SQLite.Net.Async-PCL" version="2.3.0" targetFramework="MonoAndroid44" />
  <package id="SQLite.Net.Platform.XamarinAndroid" version="2.3.0" targetFramework="MonoAndroid44" />
  <package id="SQLite.Net-PCL" version="2.3.0" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v4" version="19.1.0" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms" version="1.1.1.6206" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms.Labs" version="1.0.1.5" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms.Labs.Caching.SQLiteNet" version="1.0.1.0" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms.Labs.Droid" version="1.0.1.5" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms.Labs.Services.Serialization.ServiceStackV3.Droid" version="1.0.1.0" targetFramework="MonoAndroid44" />
</packages>